

* {
    margin: 0;
    padding: 0;
}

.pole {
    padding: 20px;
    font-size: 0;
}

img{
  width: 100%;  
  border: 1px solid white;
 
}
.ryd {
    display: flex;
    justify-content:center;
    align-items:center;
}


